<!-- 选择图片的弹窗组件 -->
<nz-modal [nzVisible]="tns.publishSiteModel['isVisiableModal']"
          [nzTitle]="'发布设置'"
          [nzContent]="viewModelRef"
          [nzCancelText]="'取消'"
          [nzOkText]="'发布'"
          [nzOkLoading]="isNzConfirmLoading"
          [nzZIndex]="999"
          (nzOnCancel)="tns.publishSiteModel['isVisiableModal']=false">
	<!-- 更换图片的主体内容 -->
	<ng-template #viewModelRef>
		<div class="publish-main">
			<div nz-row class="mb-10">
				<div nz-col [nzSpan]="5">
					<span class="title line-32">项目名称：</span>
				</div>
				<div nz-col [nzSpan]="19">
					<input nz-input
						[(ngModel)]="ads.appDataModel['app_name']"
						placeholder="请输入项目名称">
				</div>
			</div>
			<div nz-row class="mb-10">
				<div nz-col [nzSpan]="5">
					<span class="title line-32">项目简介：</span>
				</div>
				<div nz-col [nzSpan]="19">
					<textarea
						nz-input
						rows='5'
						[(ngModel)]="ads.appDataModel['remark']"
						placeholder="请输入项目简介"></textarea>
				</div>
			</div>
			<div nz-row>
				<div nz-col [nzSpan]="5">
					<span class="title">项目封面：</span>
				</div>
				<div nz-col [nzSpan]="19">
					<div class="avatar" (click)="showImagegallery()">
						<ng-container *ngIf = "ads.appDataModel['thumb']!='';else uploderEl">
							<img src="{{ads['appDataModel']['thumb'] | fileUrlPipe:'upload'}}" alt="封面">
						</ng-container>
						<ng-template #uploderEl>
							<span class="uploderSpan">+</span>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</nz-modal>

