<div class="detail-handler-main">

	<!-- 左侧的可选详情 -->
	<div class="arbor-left">

		<div class="container">
			<ul>
				<li *ngFor="let list of handlePrepareList"
					[class.active]="list.type==currentFeatures"
					(click)="acceptPrepareCheck(list)">
					<div class="block">
						<i class="iconfont_xiaochengxu {{list.icon}}"></i>
						<span class="name">{{list.name}}</span>
					</div>
				</li>
			</ul>
		</div>

	</div>

	<!-- 右侧的关于后一个功能的具体设置项 -->
	<div class="arbor-right">
		<ng-container [ngSwitch]="currentFeatures">

			<ng-container *ngSwitchCase="'Product'">
				<app-product-handler></app-product-handler>
			</ng-container>

			<ng-container *ngSwitchCase="'Article'">
				<app-article-handler></app-article-handler>
			</ng-container>

		</ng-container>
	</div>


</div>
