:host ::ng-deep {
    .ant-tag {
        margin-right: 0;
        padding: 0 3px;
    }
    .ant-tag-checkable-checked {
        color: #5B6B73;
        background-color: #F1F1F5;
    }
    .ant-tag-checkable:active {
        background-color: #ffffff;
    }
}

.animation-panel {
    .effect-show {
        height: 102px;
        margin-top: -12px;
        font-size: 18px;
        color: #EB5648;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    .select-option{
		width: 100%;
	}
}
