:host {
    width: inherit;
    height: inherit;
}

.senior-vessel-main {
    font-size: 16px;
    position: relative;
    width: inherit;
	height: inherit;
	line-height: 0;
	pointer-events: none;
    .vessel-container {
        width: inherit;
        height: inherit;
        .background {
            width: inherit;
            height: inherit;
            background-size: 20px 20px;
            background-position: 0 10px, 10px 20px;
            background-clip: content-box;
            background-image: -o-linear-gradient(45deg, #D9D9D9 26%, transparent 25%, transparent 74%, #D9D9D9 74%, #D9D9D9), -o-linear-gradient(45deg, #D9D9D9 25%, transparent 25%, transparent 75%, #D9D9D9 75%, #D9D9D9);
            background-image: linear-gradient(45deg, #D9D9D9 26%, transparent 25%, transparent 74%, #D9D9D9 74%, #D9D9D9), linear-gradient(45deg, #D9D9D9 25%, transparent 25%, transparent 75%, #D9D9D9 75%, #D9D9D9);
            background-color: #f0f0f0;
        }
    }
}

.widget-container {
    .vessel-shell {
        position: absolute;
    }
}
